<!DOCTYPE html>

<div class="left-side">
  <img src="../../../assets/LoginPage/paws.png" alt="paws">
</div>

<div class="right-side">
  <div class="header-container">
    <label class="title" routerLink="/">StreetCats</label>
  </div>

  <div class="content-container">
    <h1>Login</h1>

    @if (errorMessage()) {
      <div class="error-message">
        {{errorMessage()}}
      </div>
    }

    <div class="input-container username">
      <label>Username</label>
      <input
        type="text"
        placeholder="Es. KungFuMarta"
        [(ngModel)]="username"
        (keypress)="onKeyPress($event)"
        [disabled]="isLoading()">
    </div>

    <div class="input-container password">
      <label>Password</label>
      <input
        type="password"
        placeholder="••••••••"
        [(ngModel)]="password"
        (keypress)="onKeyPress($event)"
        [disabled]="isLoading()">
    </div>

    <div class="button-container">
      <button
        class="access-button"
        (click)="onLogin()"
        [disabled]="isLoading()">
        @if(isLoading()) {
          Caricamento...
        } @else {
          Accedi
        }
      </button>
    </div>

    <div class="register-container">
      Non hai un account?
      <a routerLink="/register" class="register-link">Iscriviti</a>
      subito!
    </div>
  </div>
</div>