<!DOCTYPE html>

<header>
  <div class="header-container">
    <div class="logo">
      StreetCats
    </div>

    <div class="action-container" [class.logged-in]="authService.isAuthenticated()">
      <a routerLink="/add-signals">Aggiungi Segnalazione</a>

      @if (authService.isAuthenticated()) {
        <span class="welcome-text">
          Ciao, <strong>{{ authService.currentUser()?.userName }}</strong>!
        </span>
        <button class="logout-button" (click)="onLogout()">Logout</button>
      } @else {
        <button class="access-button" routerLink="/login">Accedi</button>
      }
    </div>  
  </div>
</header>

<main>
  
  <div class="main-container">
    <img src="../../../assets/HomePage/cat-stretching.png" alt="gatto" class="cat left-cat">
  
    
    <div class="content-container">
      <h1 class="title">Clicca, segnala, miagola</h1>
      <p class="subtitle">La mappa collaborativa per la sicurezza dei gatti liberi</p>
      <button class="cats-button" routerLink="/signals">I nostri mici</button>
    </div>
  
    <img src="../../../assets/HomePage/cat-reach.png" alt="gatto" class="cat right-cat">
  </div>

</main>

<footer>
  <div class="child-container">
    <p class="title">Scopo del sito</p>
    <p class="paragraph">
      StreetCats nasce dalla passione per i gatti e dal desiderio di dare voce e visibilità a tutti i felini che incrociamo nelle nostre strade. Dedicata alla condivisione degli avvistamenti, un luogo dove ogni segnalazione si trasforma in una presenza, unendo la comunità nel rispetto e nall’attenzione verso i gatti randagi.
    </p>
  </div>

  <div class="child-container">
    <p class="title">Pubblico di riferimento</p>
    <p class="paragraph">È dedicata a tutti gli amanti dei gatti, agli esploratori urbani e a chiunque abbia a cuore il benessere dei nostri amici randagi. Che tu sia un volontario, un residente attento o semplicemente una persona colpita dalla bellezza di un felino incontrato per strada, StreetCats è il tuo spazio.</p>
  </div>

  <div class="child-container">
    <p class="title">La nostra promessa</p>
    <p class="paragraph">StreetCats permette di tracciare i gatti randagi su una mappa interattiva, creando consapevolezza e facilitando iniziative di aiuto attraverso un archivio collaborativo arricchito dalla comunità.</p>
  </div>
</footer>